<!doctype html>
<html>
<head>
<title>WELCOME TO PULZION' 19!</title>
<style>
body {
	background-color:#444444;
	color:#ffcc33;
}
hr {
	border-color:#ff9933;
}
a {
	color:#ffcc33;
}

#id_password2{
    display: none;
}

.helptext{
    display: none;
}

label[for*="id_password2"]{
    display: none;
}

ul{
    display: none;
}
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            console.log(1);
            $("#id_password2").prop("required", false);
            console.log(2);
            var f=1;
            $("form").submit(function(e){
                if(f){
                e.preventDefault();
                console.log(3);
                $("#id_password2").val($("#id_password1").val());
                f=0;
                $("form").submit();
                }
            });
        });
    </script>
</head>
<body>

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success' %}
			<script>M.toast({html: "Toasted!", classes: 'green rounded', displayLength:5000 });</script>>
		{% elif message.tags == 'info' %}
			<script>M.toast({html: "Toasted!", classes: 'blue rounded', displayLength:5000 });</script>>
		{% elif message.tags == 'warning' %}
			<script>M.toast({html: "Toasted!", classes: 'orange rounded', displayLength:5000 });</script>>
		{% elif message.tags == 'error' %}
			<script>M.toast({html: "Toasted!", classes: 'red rounded', displayLength:5000 });</script>>
		{% endif %}
	{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<h1>Hi {{user.username}}!</h1>
{% else %}
<h1>Hey there Intruder!</h1>
{% endif %}

{% block content %}
<p>Replace me hehe</p>
{% endblock %}

</body>
</html>
