<!doctype html>
<html>
<head>
<title>WELCOME TO PULZION' 19!</title>
<style>
body {
	background-color:#444444;
	color:#ffcc33;
}
hr {
	border-color:#ff9933;
}
a {
	color:#ffcc33;
}
</style>
</head>
<body>

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success' %}
			<script>M.toast({html: "Toasted!", classes: 'green rounded', displayLength:5000 });</script>>
		{% elif message.tags == 'info' %}
			<script>M.toast({html: "Toasted!", classes: 'blue rounded', displayLength:5000 });</script>>
		{% elif message.tags == 'warning' %}
			<script>M.toast({html: "Toasted!", classes: 'orange rounded', displayLength:5000 });</script>>
		{% elif message.tags == 'error' %}
			<script>M.toast({html: "Toasted!", classes: 'red rounded', displayLength:5000 });</script>>
		{% endif %}
	{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<h1>Hi {{user.username}}!</h1>
{% else %}
<h1>Hey there Intruder!</h1>
{% endif %}

{% block content %}
<p>Replace me hehe</p>
{% endblock %}

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>




</body>
</html>
