{% extends "base.html" %}

{% block content %}
<h1>MAIN QUESTIONS</h1>
<hr>
<p>Score</p>
<hr>
<p>Question Number</p>
<hr>
<p>Session Limit</p>
<hr>
<p>Question</p>
<p>{{ object.problem|linebreaks }}</p>
<ol type='A'>
	<li>
      <div>
		<input id="checkid" type="checkbox" value="test" />
	  </div>
      <div>
    	<label for="checkid">{{object.correct_option|linebreaks}}</label>
	  </div>
    </li>
	<li>
      <div>
		<input id="checkid1" type="checkbox" value="test" />
	  </div>
      <div>
    	<label for="checkid1">{{object.incorrect_option_1|linebreaks}}</label>
	  </div>
	</li>
	<li>
      <div>
		<input id="checkid2" type="checkbox" value="test" />
	  </div>
      <div>
    	<label for="checkid2">{{object.incorrect_option_2|linebreaks}}</label>
	  </div>
	</li>
	<li>
      <div>
		<input id="checkid3" type="checkbox" value="test" />
	  </div>
      <div>
    	<label for="checkid3">{{object.incorrect_option_3|linebreaks}}</label>
	  </div>
	</li>
</ol>
<hr>
<p>
<ol>
<li><a href="{% url 'questions2/1' %}">1</a></li>
<li><a href="{% url 'questions2/2' %}">2</a></li>
<li><a href="{% url 'questions2/3' %}">3</a></li>
<li><a href="{% url 'questions2/4' %}">4</a></li>
</ol>
</p>
<hr>
<p><a href="{% url 'questions2/1' %}">Prev</a></p>
<p><a href="{% url 'questions2/4' %}">Next</a></p>
<p><a href="{% url 'loggedout' %}">Submit</a></p>
<hr>
{% endblock %}
