{% extends "base.html" %}

{% block content %}
<h1>MAIN QUESTIONS</h1>
<hr>
<p><strong>Question ID - {{object.id}}</strong></p>
<hr>
<p>{{ object.problem|linebreaks }}</p>
<ol type='A'>
	<li>
      <span>
		<input name="option" type="radio" value="A" >{{object.option_a|linebreaks}}
	  </span>
    </li>
	<li>
      <span>
		<input name="option" type="radio" value="B" >{{object.option_b|linebreaks}}
	  </span>
	</li>
	<li>
      <span>
		<input name="option" type="radio" value="C" >{{object.option_c|linebreaks}}
	  </span>
	</li>
	<li>
      <span>
		<input name="option" type="radio" value="D" >{{object.option_d|linebreaks}}
	  </span>
	</li>
</ol>
<hr>
{% if object.id != 1 %}
<p><a href="/questions/{{object.id|add:-1}}/">Prev</a></p>
{% endif %}
{% if object.id != total_questions_mcq %}
<p><a href="/questions/{{object.id|add:1}}/">Next</a></p>
{% endif %}
<hr>
{% for i in mcq_numbers %}
	<!-- <span><a href="{% url 'questions' %}">{{ i }}</a></span> -->
	<span><a href="/questions/{{i}}/">{{ i }}</a></span>
{% endfor %}
<hr>
<p><a href="{% url 'loggedout' %}">Submit</a></p>
<hr>
{% endblock %}
